body{
	background-color: beige;
  color: #000000;
}

h1{
    background-color: maroon;
    color:#ffffff;
  }
  h2{
    color: Indigo;
    border-top: 1px solid Indigo;
  }
  h3{                         
    color: maroon;
  }
  h4{                         
    color: maroon;
  }
  h5{
    color: purple;
    border-bottom: 1px solid purple;
  }
