h1, h2, h3, h4, h5 {
  font-family: 华文中宋, 宋体;
  }
h1 {
    background-color: Indigo;
    color: White;
    padding: 10px;
  }
  h2 {
    color: BlueViolet;
    border-bottom: 5px double;
  }
  h3 {
    color: Orchid;
    border-bottom: 1px solid;
  }
  h4 {
    color: RoyalBlue;
    border-bottom: 1px solid;
  }
  h5 {
    color: Crimson;
    border-bottom: 1px solid;
  }

.mouse-event {
    cursor: pointer; /* 设置鼠标样式为手指 */
    display: inline; /* 布局 */
    align-items: center; /* 垂直居中对齐 */
    position: relative; /* 相对定位 */
  }
  .show {
    display: none; /* 初始隐藏 */
    position: absolute; /* 绝对定位 */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 0, 128, 0.8);
    z-index: 9;
    width: 30em;
    top: 100%;
  }
  .mouse-event:hover .show {
    display: block;
  }